@model youngbushfireheroes.Models.Activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="info-box">
    <div class="info-container">
        <square-title>@Model.name</square-title>
    </div>
</div>

<hr />
<br />
<div class="info-box">
    <div class="info-container">
        <square-title>@Model.introduction</square-title>
    </div>
</div>
<br />
<style>
    body {
        margin-top: 30px;
    }

    .stepwizard-step p {
        margin-top: 0px;
        color: #666;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
    }

    .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
        opacity: 1 !important;
        color: #bbb;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>

<div class="stepwizard">

    <div class="stepwizard-row setup-panel">
        @for (var i = 1; i <= Int32.Parse(Model.steps); i++)
        {
            var colclass = "";
            if (Int32.Parse(Model.steps) == 3)
            {
                colclass = "col-xs-4";
            }
            else if (Int32.Parse(Model.steps) == 4)
            {
                colclass = "col-xs-3";
            }
            else if (Int32.Parse(Model.steps) >= 5)
            {
                colclass = "col-xs-2";
            }
            if (i == 1)
            {
                <div class="stepwizard-step  @colclass">
                    <a href="#step-@i" type="button" class="btn btn-success btn-circle">@i</a>
                </div>
            }
            else
            {
                <div class="stepwizard-step  @colclass">
                    <a href="#step-@i" type="button" class="btn btn-default btn-circle">@i</a>
                </div>
            }

        }
    </div>
</div>
<br />
<form role="form">
    @for (var i = 1; i <= Int32.Parse(Model.steps); i++)
    {
        var image1link = Model.root_link + i;
        var audiolink = Model.root_link + "s" + i + ".wav";
        var image2link = Model.root_link + i + " text";
        var check1 = i + "p";
        var check2 = i + "t";
        var filename1 = ".png";
        var filename2 = ".png";
        var isGIF = "";
        var functionplay = "playAudio" + i + "()";
        if (Model.isGif.Contains(check1))
        {
            filename1 = ".gif";
            isGIF = "isGIF";
        }
        if (Model.isGif.Contains(check2))
        {
            filename2 = ".gif";
            isGIF = "isGIF";
        }
        image1link += filename1;
        image2link += filename2;
        <div class="panel panel-primary setup-content" id="step-@i">
            <div class="panel-heading">
                <h3 class="panel-title">@i</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8" style="text-align:center">
                        @if (isGIF == "isGIF")
                        {
                            <img class="@isGIF" src="@image1link" width="100%" />
                            <br />
                            <img src="~/Image/tutorial/play again.png" onclick="replay1()" width="20%" />
                        }
                        else
                        {
                            <img src="@image1link" width="100%" />
                        }
                    
                        
                    </div>
                    <div class="col-lg-4">
                        <img src="@image2link" width="100%" />
                        <br />

                        <audio class="audios" id="speaker-@i">
                            <source src="@audiolink" />
                        </audio>
                        @{
                            var filePath = Model.root_link + "s" + i + ".wav";
                            var absolutePath = System.Web.HttpContext.Current.Server.MapPath("~/" + filePath);

                       

                            if (System.IO.File.Exists(absolutePath))
                            {
                                <div style="text-align:center">
                                    <img class="speakericon" src="~/Image/speaker.png" width="50" style="cursor:pointer;" onclick="@functionplay" />
                                </div>
                            }
                        }


                    </div>
                </div>
                <hr />
                @if (i < Int32.Parse(Model.steps))
                {
                    <div style="text-align:center">
                        <img class=" nextBtn" src="~/Image/tutorial/next.png" width="15%" />
                    </div>
                }


            </div>
        </div>
    }
</form>

<br />
<div class="row">
    <div class="left-column">
        <br />
    </div>
    <div class="column">
        <br />
        <a href="~/Activities/">
            <img src="~/Image/tutorial/back.png" width="100%" />
        </a>
    </div>
    <div class="right-column">
        <br />
    </div>
</div>
<script>

    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-success').addClass('btn-default');
                $item.addClass('btn-success');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;



            if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-success').trigger('click');

    });
</script>
<script>
    function replay1() {
        var list = document.getElementsByClassName('isGIF');
        for (var i = 0; i < list.length; i++) {
            var src = list[i].getAttribute("src");
            list[i].setAttribute("src", src);
        }


    }
</script>
<script>
    var speaker = document.getElementsByClassName("audios");
    var playcheck = true;


   @for (var i = 1; i <= Int32.Parse(Model.steps); i++)
   {
       var functionplay = "playAudio" + i + "()";
       var j = i - 1;
       <text>
       function @functionplay
       {
           if (playcheck)
           {
               speaker[@j].play();
               playcheck = false;
           }
           else
           {
               speaker[@j].pause();
               speaker[@j].currentTime = 0;
               playcheck = true;
           }
    }
    speaker[@j].addEventListener("playing", function () {
        playcheck = false;
    });
    speaker[@j].addEventListener("pause", function () {
        playcheck = true;
    });


    </text>
   }
</script>
